@font-face {
	font-family: "Metropolis-Light";
	src: url("../fonts/Metropolis/Metropolis-Light.otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis-Medium";
	src: url("../fonts/Metropolis/Metropolis-Medium.otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis-Regular";
	src: url("../fonts/Metropolis/Metropolis-Regular.otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Metropolis-Bold";
	src: url("../fonts/Metropolis/Metropolis-Bold.otf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

button, a {
	padding: 0;
	background: none;
	border: none;
}

.container {
	margin: 0 auto;
	box-sizing: border-box;
}

.button {
	display: block;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	padding: 10px 25px;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.button--rounded {
	border-radius: 20px;
}

.button--outline {
	border: solid 1px;
}

/* ========================= Header start ========================= */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 2;
}

.header {
	padding: 54px 0;
	margin-bottom: 5px;
	position: relative;
}

.header::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

.brand-logo {
	display: inline-block;
	max-width: 172px;
	position: relative;
	z-index: 2;
}

.brand-logo img {
	width: 100%;
}

.register__button {
	display: inline-block;
	font-family: "Metropolis-Medium";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.register__button:first-child {
	color: #434343;
	margin-right: 30px;
}

.register__button--filled, .register__button:hover {
	color: #FFF;
	background-color: #7f83ff;
}

/* ========================= Header end ========================= */

.form-sign-in, .form-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  position: absolute;
  bottom: -100%;
  text-align: center;
  transition: all 0.3s linear;
}

.form-sign-in .form__label, .form-sign-up .form__label {
	color: #544837;
	margin-bottom: 10px;
	align-self: flex-start;
}

.form-sign-in.showed, .form-sign-up.showed {
  bottom: 0;
}

.form-sign-in .form__title, .form-sign-up .form__title {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 20px;
}

.form-sign-in .form__input, .form-sign-up .form__input {
  width: 100%;
  height: 48px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 28px;
  box-sizing: border-box;
  color: #2f2d2d;
  border: none;
  border-radius: 8px;
  background: rgba(216, 216, 216, 0.39);
}

.form-sign-in .form-sign-in__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #2e08e3;
  margin-bottom: 10px;
}

.form-sign-in .form__button, .form-sign-up .form__button {
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
  background-color: #7f83ff;
}

.form-sign-in .form-footer__text {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

/* ========================= Modal Register end ========================= */

.main-title {
	color: #2f2d2d;
	text-align: center;
	font-family: "Metropolis-Light";
	font-size: 45px;
	line-height: 60px;
}

/* ========================= Hero start ========================= */

.hero {
	height: 860px;
	margin-bottom: 175px;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}

.webp .hero {
	background-image: url("../img/hero-background.webp");
}

.no-webp .hero {
	background-image: url("../img/hero-background.svg"), url("../img/hero-background.png");
}

.hero__title {
	margin-bottom: 15px;
}

.hero__text {
	max-width: 55.41667%;
	min-width: 38.79167%;
	margin: 0 auto 50px auto;
	font-family: "Metropolis-Regular";
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	color: #2f2d2d;
}

.hero-buttons {
	display: flex;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	margin: 0 auto;
}

.hero__button {
	padding: 10px 45px;
	color: #4a4edd;
	border: solid 1px transparent;
}

.hero__button.button--outline {
	border-color: #2c3097;
}

.hero__button--filled, .hero__button.button--outline:hover {
	color: #fff;
	background-color: #4a4edd;
}

.hero__button:first-child {
	margin-right: 30px;
}

/* ========================= Hero end ========================= */

@media (max-width: 480px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.container {
		max-width: 81.90104%;
		min-width: 57.33073%;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.container {
		max-width: 82.42188%;
		min-width: 57.69531%;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.container {
		max-width: 82.63889%;
		min-width: 57.84722%;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 82.63889%;
		min-width: 57.84722%;
	}
}

@media (max-width: 767px) {
	.brand-logo {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.nav {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.header {
		margin-bottom: 45px;
	}
}

@media (max-width: 767px) {
	.hero {
		height: 700px;
		margin-bottom: 75px;
	}
}

@media (max-width: 480px) {
	.hero__title {
		font-size: 28px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.hero__title {
		font-size: 36px;
	}
}

@media (max-width: 767px) {
	.hero__text {
		max-width: 75%;
	}
}

@media (max-width: 480px) {
	.hero__text {
		font-size: 18px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.hero__text {
		font-size: 22px;
	}
}

@media screen and (min-width:481px) {
  .modal-register {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width:481px) {
  .form-sign-in, .form-sign-up {
    width: 450px;
  }
}

@media screen and (min-width:1024px) {
  .form-sign-in, .form-sign-up {
    padding: 40px 20px;
    border-radius: 5px;
  }

  .form-sign-in.showed, .form-sign-up.showed {
    bottom: 50%;
    transform: translateY(50%);
  }
}