/* Define vertical, horizontal, both direction */
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

body {
	font-family: "Metropolis-Regular";
	-webkit-font-smoothing: antialiased;
}

body.lock {
	overflow: hidden;
}

/* ========================= Modal Register start ========================= */

.modal-register {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-out;
	opacity: 0;
  z-index: 5;
}

.modal-register.show {
	display: flex;
	opacity: 1;
}

.modal-register .form {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-close {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  align-self: flex-end;
  cursor: pointer;
}

.modal-close::before, .modal-close::after {
  content: '';
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  left: 0.16rem;
  border-radius: 15px;
  background-color: #000;
}

.modal-close::before {
  top: 14px;
  transform: rotate(46deg);
}

.modal-close::after {
  top: 12px;
  transform: rotate(-46deg);
}

/* ========================= Tabs start ========================= */

.tabs-title {
	margin-bottom: 65px;
	font-size: 40px;
}

.tabs-menu {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	margin: 0 auto;
	position: relative;
}

.tabs-menu::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 3px;
	left: 0;
	border-radius: 5px;
	background-color: #ededed;
	z-index: 0;
}

.tabs-menu__item {
	display: inline-block;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	box-sizing: border-box;
	padding: 0 60px 35px 60px;
	overflow: hidden;
	position: relative;
}

.tabs-menu__item::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: -100%;
	border-radius: 5px;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}

.tabs-menu__item.active::after {
	left: 0;
}

.tabs-menu__item.violet .tab__icon,
.tabs-menu__item.violet::after {
	background-color: #7796fe;
}

.tabs-menu__item.pink .tab__icon,
.tabs-menu__item.pink::after {
	background-color: #ffc4c4;
}

.tabs-menu__item.green .tab__icon,
.tabs-menu__item.green::after {
	background-color: #bbfbbe;
}

.tabs-menu__item.red .tab__icon,
.tabs-menu__item.red::after {
	background-color: #fb1488;
}

.tabs-menu__item.blue .tab__icon,
.tabs-menu__item.blue::after {
	background-color: #03d3e2;
}

.tabs-menu__item.gray .tab__icon,
.tabs-menu__item.gray::after {
	background-color: #7b7b80;
}

.tab__icon,
.tab__button {
	display: flex;
	align-items: center;
}

.tab__icon {
	justify-content: center;
	width: 47px;
	height: 47px;
	box-sizing: border-box;
	border-radius: 50%;
	margin-right: 23px;
	background-size: 28px;
	background-position: center;
	background-repeat: no-repeat;
}

.camera-icon {
	background-image: url(../img/icons/camera.svg);
}

.check-icon {
	background-image: url(../img/icons/check.svg);
}

.pen-icon {
	background-image: url(../img/icons/pen.svg);
}

.user-group-icon {
	background-image: url(../img/icons/user-group.svg);
}

.tab__icon > * {
	color: #fff;
}

.tab__button {
	font-family: "Metropolis-Medium";
	font-size: 22px;
	letter-spacing: 0.01em;
	color: #37474f;
	cursor: pointer;
}

/* ========================= Tabs end ========================= */

/* ========================= Content start ========================= */

.main-content {
	overflow: hidden;
}

.content-block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 125px 0;
}

.content-block[data-num="1"] .content__body {
	background-color: #7796fe;
}

.content-block[data-num="2"] .content__body {
	background-color: #ff865b;
}

.content-block[data-num="3"] .content__body {
	background-color: #8937dc;
}

.content-block[data-num="4"] .content__body {
	background-color: #7cca84;
}

.content-wrap {
	position: relative;
	z-index: 2;
}

.content__body {
	display: flex;
	flex-direction: column;
	padding: 50px 25px;
	border-radius: 15px;
	box-sizing: border-box;
	position: relative;
}

.content__body .content__text {
	overflow: hidden;
}

.content__title,
.content__text {
	width: 100%;
	font-family: "Metropolis-Regular";
	font-weight: normal;
	text-align: left;
	color: #fff;
	z-index: 2;
}

.content__title {
	font-size: 26px;
	line-height: 31px;
	margin-bottom: 15px;
}

.content__text {
	font-size: 18px;
	line-height: 31px;
}

.content__image > img {
	width: 100%;
}

.content-block[data-num="1"] .content__image img {
	width: 120%;
}

.content-block[data-num="1"] .content__image {
	transform: translateX(10%);
}

.content-block[data-num="2"] .content__image {
	transform: translateX(-11%);
}

.content-block[data-num="3"] .content__image {
	transform: translateX(0%);
}

.content-block[data-num="4"] .content__image {
	transform: translateX(-24%);
}

.content-wrap,
.content__image {
	flex: 0 0 50%;
	font-size: 0%;
}

/* ========================= Content end ========================= */

/* ========================= Subscribe start ========================= */

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 180px;
}

.subscribe__title {
	margin-bottom: 20px;
	font-family: "Metropolis-Bold";
	font-weight: 300;
	font-size: 40px;
	text-align: center;
	color: #2f2d2d;
}

.subscribe__text {
	width: 41.11111%;
	height: 80px;
	margin-bottom: 70px;
	font-family: "Metropolis-Regular";
	font-weight: normal;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	color: #2f2d2d;
	overflow: hidden;
}

.subscribe .form {
	width: 90%;
	display: flex;
	justify-content: center;
}

.subscribe .form__input {
	height: 95px;
	box-sizing: border-box;
	padding-left: 30px;
	font-size: 40px;
	color: #2f2d2d;
	border: none;
	border-radius: 8px;
	background: rgba(216, 216, 216, 0.39);
}

.subscribe .form__submit {
	height: 95px;
	margin-left: -1.7%;
	padding-left: 30px;
	font-family: "Metropolis-Light";
	font-weight: 200;
	font-size: 27px;
	text-align: left;
	color: #fff;
	background: #130242;
}

.subscribe .form__submit::after {
	display: inline-block;
	width: auto;
	height: auto;
	color: #fff;
	margin: 0 30px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f061";
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

/* ========================= Subscribe end ========================= */

/* ========================= Footer start ========================= */

.footer {
	background-image: url("../img/footer-background.svg"), url("../img/footer-background.png");
	background-position: center 140%;
	background-repeat: no-repeat;
	background-size: auto;
	min-height: 764px;
}

.webp .footer {
	background-image: url("../img/footer-background.webp");
}

.no-webp .footer {
	background-image: url("../img/footer-background.svg"), url("../img/footer-background.png");
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 110px;
	border-top: solid 1px #bbb;
}

.footer__column {
	flex: 0 0 25%;
}

.footer__title {
	margin: 15px 0 33px 0;
	font-family: "Metropolis-Regular";
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
	color: #2f281e;
}

.footer__links {
	font-family: "Metropolis-Regular";
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	text-align: left;
	color: #544837;
}

.social-links {
	font-family: "Metropolis-Regular";
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	text-align: left;
	color: #544837;
}

.social-icons {
	display: inline-block;
	width: 18px;
	height: 18px;
	padding-right: 10px;
	background-position: left;
	background-repeat: no-repeat;
}

.facebook-icon {
	background-image: url(../img/icons/facebook.svg);
}

.twitter-icon {
	background-image: url(../img/icons/twitter.svg);
}

.instagram-icon {
	background-image: url(../img/icons/instagram.svg);
}

/* ========================= Footer end ========================= */

@media (max-width: 767px) {
	.tabs-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.tabs-menu {
		width: 90%;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.tabs-menu {
		width: 65%;
	}
}

@media (max-width: 767px) {
	.tabs-menu::after {
		width: 3px;
		height: 100%;
		top: 0;
		left: 0;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.tabs-menu__item {
		padding: 0 40px 20px 40px;
	}
}

@media (max-width: 767px) {
	.tabs-menu__item {
		display: flex;
		width: 100%;
		padding: 15px 0;
	}
}

@media (max-width: 767px) {
	.tabs-menu__item::after {
		width: 3px;
		height: 100%;
		bottom: -100%;
		left: 0;
	}

	.tabs-menu__item.active::after {
		bottom: 0;
	}
}

@media (max-width: 767px) {
	.tab__icon {
		margin-left: 20px;
	}
}

@media (max-width: 1023px) {
	.content-block {
		padding: 95px 0;
	}
	
	.content-block.content-left {
		flex-direction: column-reverse;
	}
	
	.content-block.content-right {
		flex-direction: column;
	}

	.content__body {
		margin: 25px 0;
	}
}

@media (min-width: 768px) {

	.content__body {
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}

	.content-block[data-num="1"] .content-wrap {
		flex: 0 0 52.22222222222223%;
		height: 28.95vw;
		-webkit-filter: drop-shadow(-8px 17px 15px #7796fe);
		        filter: drop-shadow(-8px 17px 15px #7796fe);
	}

	.content-block[data-num="1"] .content__body {
		padding: 6.515957446808511% 17.5531914893617% 16.02659574468085% 7.3138297872340425%;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 4%, 95% 76%, 3% 100%, 0% 100%);
		        clip-path: polygon(0% 0%, 100% 0%, 100% 4%, 95% 76%, 3% 100%, 0% 100%);
	}

	.content-block[data-num="2"] .content-wrap {
		flex: 0 0 51.80555555555556%;
		height: 37.9vw;
		-webkit-filter: drop-shadow(15px 20px 25px #ff865b);
		        filter: drop-shadow(15px 20px 25px #ff865b);
	}

	.content-block[data-num="2"] .content__body {
		padding: 20.509383378016086% 11.394101876675604% 14.343163538873997% 16.353887399463808%;
		-webkit-clip-path: polygon(10.991957104557642% 12.868632707774799%, 96.95710455764075% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 97%);
		        clip-path: polygon(10.991957104557642% 12.868632707774799%, 96.95710455764075% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 97%);
	}

	.content-block[data-num="3"] .content-wrap {
		flex: 0 0 51.388888888888886%;
		height: 32.0138vw;
		-webkit-filter: drop-shadow(-15px 20px 25px #8937dc);
		        filter: drop-shadow(-15px 20px 25px #8937dc);
	}

	.content-block[data-num="3"] .content__body {
		padding: 13.378378378378377% 18.91891891891892% 12.432432432432433% 14.864864864864865%;
		-webkit-clip-path: url(#content3);
		        clip-path: url(#content3);
	}

	.content-block[data-num="4"] .content-wrap {
		flex: 0 0 51.59722222222223%;
		height: 43.125vw;
		-webkit-filter: drop-shadow(20px 20px 25px #7cca84);
		        filter: drop-shadow(20px 20px 25px #7cca84);
	}

	.content-block[data-num="4"] .content__body {
		padding: 23.832528180354267% 15.477792732166892% 28.019323671497588% 17.765814266487215%;
		-webkit-clip-path: url(#content4);
		        clip-path: url(#content4);
	}
}

@media (min-width: 1024px) {
	.content-block[data-num="1"] .content__body {
		left: 24%;
	}

	.content-block[data-num="2"] .content__body {
		right: 9%;
	}

	.content-block[data-num="3"] .content__body {
		left: 6%;
	}

	.content-block[data-num="4"] .content__body {
		right: 9%;
	}
}

@media screen and (max-width: 480px), screen and (min-width: 768px) and (max-width: 1023px) {
	.content-block[data-num] .content-wrap {
		padding: 0 5%;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.content-block[data-num] .content-wrap {
		padding: 0 14.5%;
	}
}

@media (max-width: 1023px) {
	.content-block[data-num="2"] .content__image {
		transform: translateX(-16%);
	}
}

@media (max-width: 767px) {
	.subscribe__title {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	.subscribe__text {
		width: 80%;
		margin-bottom: 30px;
	}
}

@media (max-width: 1023px) {
	.subscribe .form {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 1023px) {
	.subscribe .form__input {
		max-width: 100%;
		width: 100%;
		margin-bottom: 25px;
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.footer {
		min-height: 980px;
	}
}

@media (max-width: 767px) {
	.footer__row {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.footer__column {
		flex: 0 0 auto;
	}
}

@media (max-width: 767px) {
	.footer__column {
		flex: 0 0 47%;
		padding: 0 25px;
	}
}

@media (max-width: 767px) {
	.footer__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.footer__list-item {
		flex: 0 0 47%;
		text-align: center;
	}
}

@media (max-width: 1023px) {
	.footer__title {
		text-align: center;
	}
}